@font-face {
    font-family: 'Roboto Black';
    src: url('/fonts/Roboto-Black.eot');
    src: url('/fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Roboto-Black.woff') format('woff'),
    url('/fonts/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    }

    @font-face {
        font-family: 'Roboto Light';
        src: url('/fonts/Roboto-Light.eot');
        src: url('/fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Roboto-Light.woff') format('woff'),
        url('/fonts/Roboto-Light.ttf') format('truetype');
        font-weight: 300;
        font-style: normal;
        }

    html {
        font-family: 'Roboto', sans-serif;
    }

    .transactions_descr  {
        text-align: left;
        font-family: 'Roboto';
        font-weight: 500;
        color: rgba(4, 40, 76, 1);
        font-size: 24px;
        line-height: 23.44px;
    }
    
    .transactions_descr_best  {
        text-align: left;
        font-family: 'Roboto';
        font-weight: 500;
        color: rgba(4, 40, 76, 1);
        font-size: 24px;
        line-height: 28.13px;

    }
    .descr {
        text-align: left;
        font-family: 'Roboto';
        font-weight: 400;
        color: rgba(4, 40, 76, 1);
        font-size: 16px;
        line-height: 18.75px;
    }

    .transactions_descr_centr{
        margin-top: 33px;
        text-align: center;
        font-family: 'Roboto';
        font-weight: 500;
        color: rgba(4, 40, 76, 1);
        font-size: 24px;
        line-height: 23.44px;
    }
   
    .container_best, .transactions_descr_bestamount_currency {
        margin-top: 4px;
        color: rgba(4, 40, 76, 0.6);
        font-weight: 400;
        font-size: 14px;
        line-height: 16.41px;
        margin-bottom: 8px;
    }

    
    .city_btn{
        width: 259px;
        height: 28;
        margin-top: 33px;
        text-align: center;
        font-family: 'Roboto';
        font-weight: 400;
        color: rgba(4, 40, 76, 1);
        font-size: 14px;
        line-height: 20px;
        border-radius: 40px;
        border-color: rgba(200, 210, 220, 1);
        border: 1px;
    }
    .city_btn:hover {
        background-color: #a0a0a0;
        cursor: pointer; /* Изменение курсора при наведении */
    }
    